<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Minor Entities</li>
        <li class="divider"></li>
        <li><a href="#">Section</a></li>
        <li><a href="#">Part</a></li>
        <li><a href="#">Item Type</a></li>
        <li><a href="#">Product Type</a></li>
        <li><a href="#">Product Link Text</a></li>

        <li class="divider"></li>
        <li class="dropdown-header">Major Entities</li>
        <li class="divider"></li>
        <li><a href="#">Item</a></li>
        <li><a href="#">Product</a></li>
        <li><a href="#">Subscription</a></li>

        <li class="divider"></li>
        <li class="dropdown-header">Connector Entities</li>
        <li class="divider"></li>
        <li><a href="#">Product Item</a></li>
        <li><a href="#">Subsription Product</a></li>

        <li class="divider"></li>
        <li class="dropdown-header">Users & Subscriptions </li>
        <li class="divider"></li>
        <li><a href="#">User & Subscriptions</a></li>



    </ul>
</li>

