@if (Request.IsAuthenticated && User.IsInRole("Admin")) {
<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li class="dropdown-header">Minor Entities</li>
        <li class="divider"></li>
        <li><a href="/Admin/Section">Section</a></li>
        <li><a href="/Admin/Part">Part</a></li>
        <li><a href="/Admin/ItemType">Item Type</a></li>
        <li><a href="/Admin/ProductType">Product Type</a></li>
        <li><a href="/Admin/ProductLinkText">Product Link Text</a></li>

        <li class="divider"></li>
        <li class="dropdown-header">Major Entities</li>
        <li class="divider"></li>
        <li><a href="/Admin/Item">Item</a></li>
        <li><a href="/Admin/Product">Product</a></li>
        <li><a href="/Admin/Subscription">Subscription</a></li>

        <li class="divider"></li>
        <li class="dropdown-header">Connector Entities</li>
        <li class="divider"></li>
        <li><a href="/Admin/ProductItem">Product Item</a></li>
        <li><a href="/Admin/SubsriptionProduct">Subsription Product</a></li>

        <li class="divider"></li>
        <li class="dropdown-header">Users & Subscriptions </li>
        <li class="divider"></li>
        <li><a href="/Account">User & Subscriptions</a></li>



    </ul>
</li>
}

